### Find Total Transaction Amount by Account Type:

In [5]:
SELECT
    a.account_type,
    SUM(t.amount) AS total_transaction_amount
FROM
    transactions t
JOIN
    accounts a ON t.account_id = a.account_id
GROUP BY
    a.account_type;

IndentationError: unexpected indent (1805986214.py, line 2)

### Identify Top 10 Customers with Highest Transaction Amount:

In [6]:
SELECT
    c.customer_id,
    c.name AS customer_name,
    SUM(t.amount) AS total_transaction_amount
FROM
    transactions t
JOIN
    accounts a ON t.account_id = a.account_id
JOIN
    customers c ON a.customer_id = c.customer_id
GROUP BY
    c.customer_id,
    c.name
ORDER BY
    total_transaction_amount DESC
LIMIT 10;

IndentationError: unexpected indent (3381216023.py, line 2)

### Calculate Average Transaction Amount Over Time:

In [7]:
SELECT
    DATE(t.timestamp) AS transaction_date,
    AVG(t.amount) AS avg_transaction_amount
FROM
    transactions t
GROUP BY
    DATE(t.timestamp)
ORDER BY
    transaction_date;

IndentationError: unexpected indent (2168240648.py, line 2)

### Rank Customers by Total Transaction Amount Using Window Functions:

In [8]:
SELECT
    customer_id,
    customer_name,
    total_transaction_amount,
    RANK() OVER (ORDER BY total_transaction_amount DESC) AS rank_by_total_amount
FROM (
    SELECT
        c.customer_id,
        c.name AS customer_name,
        SUM(t.amount) AS total_transaction_amount
    FROM
        transactions t
    JOIN
        accounts a ON t.account_id = a.account_id
    JOIN
        customers c ON a.customer_id = c.customer_id
    GROUP BY
        c.customer_id,
        c.name
) AS customer_totals;

IndentationError: unexpected indent (2531917639.py, line 2)